/*------------------------------------*\
  # BASE CHANGES TO NATIVE TAGS
\*------------------------------------*/

@use 'theme';

html,
body {
  padding: 0;
  margin: 0;
  background-color: theme.$background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header,
footer {
  background-color: theme.$primary-color;
}
