/*------------------------------------*\
  # THEME
\*------------------------------------*/
$font-family: Helvetica, sans-serif;

$max-width: 1024px;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;

$h-photo: 200px;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 48px;

$primary-color: #427aab;
$secondary-color: #d6d8d7;
$background-color: #f8f8f8;
